.Fixed-overlay {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(90, 96, 113, 0.55);
    z-index: 50;

    &:after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: ' ';
    }

    &__modal {
        text-align: center;
        white-space: nowrap;
    }

    &__wrapper-inline {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: auto;
        height: auto;
        margin-top: -10px;
    }
}