.Footer {
    @include size(auto);
    color: $color-white-dark;

    &__flex {
        @include flexbox;
        @include align-items(flex-start);
    }

    &__wrapper {
        @include size(100vw, auto);
        padding-top: 60px;
        padding-bottom: 80px;
    }

    &__block {
        margin: 0 auto;
    }

    &__col-lg-5 {
        flex-basis: 60.33333333%;
        max-width: 60.33333333%;
        flex: 0 0 auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__col-lg-4 {
        position: relative;
        flex-basis: 34.33333333%;
        max-width: 34.33333333%;
        flex: 0 0 auto;
        padding-right: 20px;
        padding-left: 20px;

        .a-logo {
            position: absolute;
            top: 0;
            left: 20px;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
        }
    }

    &__col-lg-2 {
        flex-basis: 30.66666667%;
        max-width: 30.66666667%;
        flex: 0 0 auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__col-lg-offset {
        margin-left: 16.667%;
    }

    &__column-half {
        position: relative;
        flex-basis: 50%;
        max-width: 50%;
        &:last-child {
            padding-left: 10px;
        }

        .icon-plus, .icon-minus {
            display: none;
            position: absolute;
            right: 0;
            top: 50%;
            -ms-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            fill: currentColor;
            width: 12px;
            pointer-events: none;
        }
    }

    &__nav {
        width: 140px;
        margin-left: auto;
        display: inline-block;
        padding-left: 0;

        a, p {
            position: relative;
            color: #848484;
            transition: all .3s;
            transition-timing-function: cubic-bezier(.16,.68,.43,.99);
            display: inline-block;
            margin: 0;
            margin-bottom: 3px;
            text-decoration: none;
            font-weight: 400;
            font-family: $font-base;
            font-size: 15px;

            &:hover {
                background: none;
                color: $hover-link;
            }
        }
    }

    &__social-icons {
        margin-bottom: 60px;

        li {
            display: block;
            margin: 0 0 .5rem;
            width: 50%;
            padding-right: 1.5rem;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            white-space: nowrap;
        }

        svg {
            height: 20px;
            width: 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    h5 {
        position: relative;
        font-family: $font-base;
        text-transform: uppercase;
        letter-spacing: .15em;
        margin-top: 5px;
        margin-bottom: 10px;
        line-height: normal;
        white-space: nowrap;
        width: 105%;
        cursor: default;
    }

    &__logo-info {
        font-size: 16px;
        letter-spacing: 0.2em;
        font-variant: petite-caps;
        line-height: 1.1;
        font-family: $font-base;
        text-transform: uppercase;

        svg {
            display: inline-block;
            vertical-align: middle;
            margin-left: 4px;
            margin-bottom: 2px;
        }
    }

    &__text-info {
        color: #E1E1E1;
        margin-top: 15px;
        font-size: 16px;
        font-family: $font-base;
        font-weight: 200;
        letter-spacing: 0.1em;
        line-height: 22px;
    }

    &__payments {
        color: #515151;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            @include flexbox;
            @include align-items(center);
            @include flex-flow(row nowrap);
            @include justify-content(space-between);
        }

        li {
            display: inline-block;
            margin-bottom: .8rem;
            margin-right: 5rem;
        }
    }

    .payment-icons {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }
}

@include mq("tablet", "max") {
    .Footer {
        &__col-lg-offset {
            margin-left: 0;
        }
        &__flex {
            @include flex-flow(row nowrap);
            @include flex-direction(column);
        }
        &__wrapper {
            margin-top: 0;
            padding-bottom: 40px;
            padding-top: 35px;
        }
        &__col-lg-5 {
            flex-basis: 100%;
            max-width: 100%;
        }
        &__col-lg-4 {
            flex-basis: 70%;
            max-width: 70%;
        }
        &__col-lg-2 {
            flex-basis: 100%;
            max-width: 100%;
        }
        &__nav {
            width: auto;

            a {
                font-size: 16px;
                padding-bottom: 5px;
            }
        }
        &__column-half {
            flex-basis: 100%;
            max-width: 100%;
            border-bottom: 1px solid #2b2b2b;
            padding-right: 20px;
            padding-left: 20px;
            &:last-child {
                padding-left: 20px;
            }
            .icon-plus {
                display: block;
            }
        }
    }
}

@include mq("phone-wide", "max") {
    .Footer {
        &__text-info {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 18px;
        }
        &__wrapper {
            padding-top: 20px;
        }
        &__col-lg-4 {
            flex-basis: 100%;
            max-width: 100%;
        }
        &__social-icons {
            margin-bottom: 0;
        }

        h5 {
            margin: 0;
            padding: 16px 0;
            cursor: pointer;
        }

        &__logo-link {
            @include order(1);
            margin: 0 auto;
        }

        &__payments {
            @include order;
            width: auto;
            margin: 0 auto;

            ul {
                margin: 0 auto;
            }

            li {
                margin-right: 4rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 990px){
    .Footer{
        &__social-icons {
            width: 120px;
            margin-left: auto;

           li {
                width: 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                padding: 0;
            }
        }
    }
}