.Product{
    padding-top:1px;
    &__images {
        position:relative;
        display: block;
        width: 100%;
        max-width: 480px;
        margin: 15px auto -40px;

        .slick-list {padding:0 !important;}

        .slick-arrow {
            display: none !important;
        }

        .slick-dots {
            @include flexbox;
            @include justify-content(center);
            margin-top: 12px;
            margin-bottom: 15px;
            z-index: 10;

            li {
                @include size(6px);
                padding: 0;
                margin: .5rem;
                background: $color-gray-light;
                border-radius: 50%;

                button {
                    @include size(100%);
                    font-size: 0;
                    z-index: 10;
                }

                &.slick-active {
                    background: $hover-link;
                }
            }
        }

        img {
            width: 100%;
            margin-right:10px;
        }

        img[data-src] {
            opacity: 0;
            min-height: 500px;
        }
    }

    &__info-wrapper {
        transform: translateY(0);
        opacity: 1;
        transition: all .3s ease-in;
    }

    &__reg-social {
        width: inherit;
        height: 80px;
        text-align: center;

        a {
            color: $color-light-blue;

            &:hover {
                color: $hover-link;
            }
        }

        svg {
            @include size(40px);
            margin-top: 15px;
        }
    }

    &__template-login {
        width: 100%;
        margin: 0;
        max-width: 400px;
        margin-top: 15px;

        &--form {
            margin-bottom: 20px;
        }

        &--forgot {
            font-size: .85rem;
            color: $color-gray-light;
            cursor: pointer;

            &:hover {
                color: $hover-link;
            }
        }

        &--separator {
            position: relative;
            display: block;
            text-align: center;
            margin: 20px 0 10px;

            span {
                position: relative;
                z-index: 2;
                display: inline-block;
                vertical-align: middle;
                padding: 10px;
                background: #000;
                color: $color-gray;
            }

            &:after {
                content: "";
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 0;
                display: block;
                width: 100%;
                height: 1px;
                background: #2b2b2b;
            }
        }

        &--center {
            text-align: center;

            p {
                font-size: 16px;
            }
        }
    }

    &__title {
        margin-bottom: 20px;
        text-align: left;

        .has-collection {
            font-weight: 400;
            line-height: 1;
            margin: 1.5em 0 1em;
            text-transform: uppercase;
            letter-spacing: .07em;
            font-style: normal;
        }

        h1 {
            position: relative;
            margin: 0;
            padding-bottom: 1.5rem;
        }
    }

    &__thumbnails {
        @include size(60px, auto);
        @include flexbox;
        @include justify-content(space-around);
        @include flex-direction(column);
        position: absolute !important;
        top: 50px;
        left: -93px;
        max-height: 280px;

        img {
            @include size(100%, 80px);
            @include transition(border-color .15s linear);
            display: block;
            margin-bottom: 10px;
            border: 1px solid transparent;
            outline: none;
            cursor: pointer;

            &:hover {
                border-color: $hover-link;
            }
        }
    }

    &__price{
        &--set {
            h4 {
                color: $color-white-dark;
                margin: 0 0 .5rem;
                letter-spacing: .1rem;

                &:after {
                    content: ' ₽';
                }
            }

            .old-price {
                color: $hover-link-old-price;
                text-decoration: line-through;
                margin-left: 15px;
                font-size: 15px;
                &:after {
                    content: ' ₽';
                }
            }
        }
    }

    &__ul {
        list-style: disc outside;
        color: $color-white-dark;
        li {
            margin-bottom: 10px;
            list-style: disc outside;
        }
    }

    &__trust-indicators {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-around);
        @include size(100%, 70px);
        text-align: left;
        text-decoration: none;

        &--inner {
            cursor: pointer;
            @include flexbox;
            @include flex(0 0 33%);
            @include align-items(center);
            padding: 1rem 0;
            width: 33%;
            color: $color-gray;
            svg {
                width: 40px;
                height: 40px;
                margin-bottom: 0;
                margin-right: 8px;
                @include flex-shrink(0);
            }

            p {
                text-transform: uppercase;
                letter-spacing: .15em;
                margin: 0;
                font-weight: 600;
                font-size: .6rem;
            }

            &:hover {
                color: $hover-link;
            }
        }
    }

    &__discription {
        color: $color-white-dark;
        margin-top: 25px;
        padding: 25px 15px;
        border-top:1px solid #DEDEDE;
        padding-bottom: 0 !important;
    }

    &__related-tabs {
        list-style: none;
        @include flexbox;
        @include justify-content(center);
        @include flex-flow;
        padding: 0;

        &--space-top {
            margin-top: 5rem;
        }
    }

    &__related-tabs-item{
        margin-right: 40px;
        margin-bottom: -1px;
        color: $color-white-dark;
        font-size: 16px;
    }
}

.Options-size {
    position: relative;
    display: block;
    margin: 0 0 .5rem;
    width: 270px;
    text-align: center;

    select {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-color: transparent;
        background-size: 13px 8px;
        padding-right: 28px;
        padding: .8em 1.5rem .8em 0;
        text-indent: .01px;
        font-size: 15px;
        border-radius: 0;
        width: 100%;
        min-height: 40px;
        margin: 0;
        cursor: pointer;
        border: 1px solid transparent;
        border-bottom: 1px solid #dedede;
        color: $color-white-dark;
        background-image: url('#{$path-svg}/down_arrow.svg');
    }

    option {
        color: #dedede;
        background-color: #000;
        padding: 10px 5px;
        text-transform: uppercase;
    }

    .is-selected {
        position: absolute;
        top: 50%;
        right: 40px;
        display: block;
        font-size: .75rem;
        letter-spacing: .15em;
        text-transform: uppercase;
        color: $hover-link;
        transform: translateY(-50%);
        pointer-events: none;
        font-size: 14px;

        svg {
            @include size(15px);
            margin-right: .5rem;
        }
    }
}

@include mq("tablet", "max") {
    .Product{
        &__images {
            margin-top: 10px;

            img[data-src] {
                min-height: 320px;
            }
            .slick-slide {
                padding: 0 20px 1px;
            }
        }
        &__info-wrapper {
            padding: 0 20px;
        }
        &__discription {
            padding: 20px 0;
        }
        &__related-tabs-item {
            margin-right: 0;
        }
        &__thumbnails {
            display: none;
        }
        &__trust-indicators {
            height: 50px;
        }
    }

    .Block-items {
        &.Flex-start {
            &__justify {
                @include justify-content(center !important);
            }
        }
    }
}
@include mq("Ipad", "max") {
    .Product{
        &__ul {
            margin-left: 20px;
        }
    }
    .text-info {
        font-size: 16px;
        padding: 10px 30px;
    }
}

@media only screen and (min-width: 768px){
    .Product{
        &__image {
            margin-bottom: 40px;
            margin-left: 0!important;
        }
    }
}