<div class="Fixed-overlay Fixed-overlay__modal">
    <div class="Fixed-overlay__wrapper-inline">
        <div class="Modal Modal--enter">
            <div class="Modal--close" onclick="window.closeModal();"></div>
            <div class="Modal__header">
                <h3>Сообщение системы</h3>
            </div>
            <div class="Modal__container">
                <div class="Modal__middle">
                    <p class="js-resSys"></p>
                </div>
            </div>
        </div>
    </div>
</div>