<div class="Modal__sizes">
    <button type="button" class="action-close" data-dismiss="modal">×</button>
    <div class="Modal__middle">
        <p class="Modal__just-msg js-differentMsg"></p>
    </div>
</div>