<div class="Nav__card">
    <div class="Nav__card--wrap-btn Nav__handler--inner">
        <button class="Button__card">
            <span class="icon">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="485.196px" height="485.196px" viewBox="0 0 485.196 485.196" xml:space="preserve">
                <g>
                    <polygon points="85.736,45.479 0,45.479 0,75.806 65.892,75.806 172.035,318.405 424.543,318.405 424.543,288.084
                        191.875,288.084" fill="#fff"/>
                    <path d="M151.628,106.131l60.654,151.631h212.261l60.653-151.631H151.628z M404.05,227.435h-171.23l-36.396-90.978H440.42
                        L404.05,227.435z" fill="#fff"/>
                    <path d="M227.443,348.737c-25.127,0-45.488,20.372-45.488,45.489c0,25.109,20.36,45.49,45.488,45.49
                        c25.109,0,45.476-20.381,45.476-45.49C272.919,369.109,252.552,348.737,227.443,348.737z M227.443,409.386
                        c-8.363,0-15.161-6.81-15.161-15.159c0-8.354,6.797-15.163,15.161-15.163c8.366,0,15.164,6.81,15.164,15.163
                        C242.606,402.576,235.809,409.386,227.443,409.386z" fill="#fff"/>
                    <path d="M379.058,348.737c-25.113,0-45.49,20.372-45.49,45.489c0,25.109,20.377,45.49,45.49,45.49s45.485-20.381,45.485-45.49
                        C424.543,369.109,404.171,348.737,379.058,348.737z M379.058,409.386c-8.35,0-15.158-6.81-15.158-15.159
                        c0-8.354,6.809-15.163,15.158-15.163c8.345,0,15.163,6.81,15.163,15.163C394.221,402.576,387.412,409.386,379.058,409.386z" fill="#fff"/>
                </g>
            </svg>
            </span>
            <span>Корзина (<span class="js-countCard">0</span>)</span>
        </button>
    </div>
</div>