<div class="Nav__picture">
<picture>

  <source media="(max-width: 768px)" srcset="//cdn.shopify.com/s/files/1/0585/9581/files/MOBILE_Primary_CHANEE_480x.png 480w,
                            //cdn.shopify.com/s/files/1/0585/9581/files/MOBILE_Primary_CHANEE_960x.png 960w">

  <source media="(min-width: 990px )" srcset="//cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_CHANEE_768x.png 768w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_CHANEE_990x.png 990w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_CHANEE_1400x.png 1400w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_CHANEE_2100x.png 1540w"><img src="//cdn.shopify.com/s/files/1/0585/9581/files/MOBILE_Primary_CHANEE.png" alt="">
</picture>

<picture>
  <source media="(max-width: 768px)" srcset="//cdn.shopify.com/s/files/1/0585/9581/files/MOBILE_Primary_FONDA_a0fbb9ff-9dc6-4c6d-93a9-6fa592c1c8a0_480x.png 480w,
                            //cdn.shopify.com/s/files/1/0585/9581/files/MOBILE_Primary_FONDA_a0fbb9ff-9dc6-4c6d-93a9-6fa592c1c8a0_960x.png 960w">

  <source media="(min-width: 990px )" srcset="//cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_FONDA_3a879f73-260a-427c-8148-43738a41d6b0_768x.png 768w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_FONDA_3a879f73-260a-427c-8148-43738a41d6b0_990x.png 990w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_FONDA_3a879f73-260a-427c-8148-43738a41d6b0_1400x.png 1400w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_FONDA_3a879f73-260a-427c-8148-43738a41d6b0_2100x.png 1540w">
  <img src="//cdn.shopify.com/s/files/1/0585/9581/files/MOBILE_Primary_FONDA_a0fbb9ff-9dc6-4c6d-93a9-6fa592c1c8a0.png" data-object-fit="" alt="">
</picture>

<picture>
<source media="(max-width: 768px)" srcset="//cdn.shopify.com/s/files/1/0585/9581/files/MOBILE_Primary_SAMANTHA_7d558891-f965-42dc-8628-df894b033626_480x.png 480w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/MOBILE_Primary_SAMANTHA_7d558891-f965-42dc-8628-df894b033626_960x.png 960w">



<source media="(min-width: 990px )" srcset="//cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_SAMANTHA_e8d00598-8f3a-4e77-88ff-ba16fdd92e60_768x.png? 768w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_SAMANTHA_e8d00598-8f3a-4e77-88ff-ba16fdd92e60_990x.png 990w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_SAMANTHA_e8d00598-8f3a-4e77-88ff-ba16fdd92e60_1400x.png 1400w,
                          //cdn.shopify.com/s/files/1/0585/9581/files/DESKTOP_Primary_SAMANTHA_e8d00598-8f3a-4e77-88ff-ba16fdd92e60_2100x.png 1540w">
<img src="//cdn.shopify.com/s/files/1/0585/9581/files/MOBILE_Primary_SAMANTHA_7d558891-f965-42dc-8628-df894b033626.png" data-object-fit="" alt="">
</picture>
</div>