 <nav class="Nav">
    <div class="Nav__handler">
        <div class="Nav__insta Nav__insta--follow js-insta">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve" width="19px" height="19px">
                <path style="fill:none;stroke:#fff;stroke-width:2;stroke-miterlimit:10;" d="M7.546,25h10.909C22.07,25,25,22.07,25,18.454  V7.545C25,3.93,22.07,1,18.454,1H7.545C3.93,1,1,3.93,1,7.546v10.909C1,22.07,3.93,25,7.546,25z"/>
                <circle style="fill:none;stroke:#fff;stroke-width:2;stroke-miterlimit:10;" cx="13" cy="13" r="6"/>
                <circle cx="20.5" cy="5.5" r="1.5" fill="#fff"/>
                </svg>
            </div>
        </div>
        <div class="Nav__insta">
            <div class="Nav__insta--follow-txt">
                <p>&nbsp;Follow me on INSTAGRAM</p>
            </div>
        </div>
    </div>
    <div class="Nav__handler Nav__handler--logo">
        <a href="/" title="Главная страница" class="a-logo"></a>
        <div class="Nav__handler--inner">
            <span>
                <span style="color: rgb(244, 155, 193);">V</span>
                <span style="color: rgb(245, 153, 157);">a</span>
                <span style="color: rgb(239, 110, 168);">n</span>
                <span style="color: rgb(241, 109, 126);">i</span>
                <span style="color: rgb(158, 0, 92);">t</span>
                <span style="color: rgb(238, 16, 90);">y</span>
                <span style="color: rgb(241, 109, 126);">F</span>
                <span style="color: rgb(239, 110, 168);">a</span>
                <span style="color: rgb(245, 153, 157);">i</span>
                <span style="color: rgb(244, 155, 193);">r</span>
            </span>
        </div>
    </div>
    <div class="Nav__handler">
        <div class="Nav__handler--inner Nav__handler--block">
            <a href="tel:+7879234957" class="Nav__handler--link-tel" title="Позвонить">
                <strong>+7 (987) 923-49-57</strong>
            </a>
        </div>
        <div class="Nav__handler--inner Nav__handler--block">
            <span class="info-block">
                <span style="color: rgb(164, 212, 157);">w</span>
                <span style="color: rgb(129, 202, 157);">a</span>
                <span style="color: rgb(172, 211, 114);">t</span>
                <span style="color: rgb(125, 196, 115);">s</span>
                <span style="color: rgb(143, 198, 61);">a</span>
                <span style="color: rgb(0, 166, 80);">p</span>
                <span style="color: rgb(25, 123, 48);">p &nbsp;</span>
                <span style="color: rgb(108, 207, 247);">t</span>
                <span style="color: rgb(124, 166, 216);">e</span>
                <span style="color: rgb(0, 191, 243);">l</span>
                <span style="color: rgb(67, 140, 203);">e</span>
                <span style="color: rgb(0, 174, 239);">g</span>
                <span style="color: rgb(0, 114, 188);">r</span>
                <span style="color: rgb(0, 118, 164);">a</span>
                <span style="color: rgb(0, 174, 239);">m &nbsp;</span>
                <span style="color: rgb(167, 99, 169);">v</span>
                <span style="color: rgb(162, 134, 189);">i</span>
                <span style="color: rgb(101, 44, 145);">be</span>
                <span style="color: rgb(145, 39, 143);">r</span>
            </span>
        </div>
    </div>
</nav>