<div class="Nav__picture">
<picture>

  <source media="(max-width: 989px)" srcset="/img/jpg/galary-1.jpg">

  <source media="(min-width: 990px )" srcset="/img/jpg/B9F506F5-827E-4C2C-9C8D-D852F709C3E4.jpg" >
  <img src="/img/jpg/B9F506F5-827E-4C2C-9C8D-D852F709C3E4.jpg" alt="">
</picture>

</div>