<div class="Menu__sub" aria-hidden="true" data-name="Dress">
    <div class="Container">
        <div class="Menu__dropdown js-subMenu">
            <div class="Menu__dropdown--col">
                <a href="#" class="nav-link--image-block">
                    <img data-src="/img/jpg/test000.jpg" alt="">
                </a>
            </div>
            <div class="Menu__dropdown--col">
                <a href="#" class="nav-link--feature">
                    <img src="/img/jpg/test_menu.jpg" alt="">
                    <div>
                        <p>
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Text</font></font>
                        </p>

                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Перейти в каталог</font></font>
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.04" height="7.65" viewBox="0 0 4.04 7.65">
                            <g data-name="Icons/icon-arrow-breadcrumbs-righ-black">
                              <polygon points="2.72 3.83 0 0.65 0.76 0 4.04 3.83 0.76 7.65 0 7 2.72 3.83"></polygon>
                            </g>
                            </svg>
                        </span>
                    </div>
                </a>
                <a href="#" class="nav-link--feature">
                    <img src="/img/jpg/test_menu.jpg" alt="">
                    <div>
                        <p>
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Text</font></font>
                        </p>

                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Перейти в каталог</font></font>
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.04" height="7.65" viewBox="0 0 4.04 7.65">
                            <g data-name="Icons/icon-arrow-breadcrumbs-righ-black">
                              <polygon points="2.72 3.83 0 0.65 0.76 0 4.04 3.83 0.76 7.65 0 7 2.72 3.83"></polygon>
                            </g>
                            </svg>
                        </span>
                    </div>
                </a>
                <a href="#" class="nav-link--feature">
                    <img src="/img/jpg/test_menu.jpg" alt="">
                    <div>
                        <p>
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Text</font></font>
                        </p>

                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Перейти в каталог</font></font>
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.04" height="7.65" viewBox="0 0 4.04 7.65">
                            <g data-name="Icons/icon-arrow-breadcrumbs-righ-black">
                              <polygon points="2.72 3.83 0 0.65 0.76 0 4.04 3.83 0.76 7.65 0 7 2.72 3.83"></polygon>
                            </g>
                            </svg>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>