<div class="Container--center Container__top">
  <h1 class="h2" style="text-transform: none;font-weight: 400;"><%- h1 %></h1>
</div>
<div class="Container">
    <p class="text-info">&nbsp;Индивидуальный пошив белья - это новый подход к современной моде. Неординарный  дизайн, проведенная  до мелочей работа конструктора, избирательный подход при выборе кружева , кропотливый труд швей и любовь в каждом изделии — это все про Vanity Fair.</p>
</div>