<div class="Container--center Container__top">
    <h1 class="h2" style="text-transform: none;font-weight: 400;"><%- h1 %></h1>
  </div>
  <div class="Container">
      <ul class="text-info Footer__nav" style="width: 100%; margin-bottom: 50px; list-style: outside;">
          <li><p class="contacts">г. Тольятти</p></li>
          <li><p class="contacts">Email: </p><a href="mailto:Vflingerierus@gmail.com">&nbsp;Vflingerierus@gmail.com</a></li>
          <li><p class="contacts">Телефон: </p><a href="tel:79879234957">&nbsp;+7 987 923-49-57</a></li>
          <li><p class="contacts">Инстаграм: </p><a href="https://www.instagram.com/vf_lingerie/" rel="nofollow" target="_blank">&nbsp;@vf_lingerie</a></li>
      </ul>
  </div>