<div class="Container--center Container__top">
  <h1 class="h2" style="text-transform: none;font-weight: 400;"><%- h1 %></h1>
</div>
<div class="Container">
    <div class="Faq clearfix">
        <h2 style="font-weight: 200;">Общая информация</h2>
        <div>
            <ul class="Faq__accordion-list">
                <li class="Faq__accordion">
                    <div class="Faq__accordion--label">
                        <button class="Faq__accordion--btn js-toggleSlide" data-block="faq">
                            Что если моего размера нет в наличии?
                            <span>
                                <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 0)"></path><path d="M5.49.32C5.49.14,5.71,0,6,0H6c.28,0,.5.14.5.31l0,11.38c0,.17-.22.31-.5.31s-.5-.14-.5-.32h0Z" transform="translate(0 0)"></path></svg>
                                <svg class="icon-minus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 1.02"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 -5.49)"></path></svg>
                            </span>
                        </button>
                    </div>
                    <div class="Faq__accordion--content js-footerAccordion">
                        <div class="Faq__accordion--text">
                            Vanity Fair - модный бутик, а это означает, что наша продукция выпускается в ограниченном количестве.
                        </div>
                    </div>
                </li>
                <li class="Faq__accordion">
                    <div class="Faq__accordion--label">
                        <button class="Faq__accordion--btn js-toggleSlide" data-block="faq">
                            Как заботиться о своей VF?
                            <span>
                                <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 0)"></path><path d="M5.49.32C5.49.14,5.71,0,6,0H6c.28,0,.5.14.5.31l0,11.38c0,.17-.22.31-.5.31s-.5-.14-.5-.32h0Z" transform="translate(0 0)"></path></svg>
                                <svg class="icon-minus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 1.02"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 -5.49)"></path></svg>
                            </span>
                        </button>
                    </div>
                    <div class="Faq__accordion--content js-footerAccordion">
                        <div class="Faq__accordion--text">
                            Чтобы сохранить ваши великолепные VF в их лучшем состоянии, хотя они и пригодны для машинной стирки, мы рекомендуем ручную в теплой водой. Старайтесь не использовать какие-либо жесткие средства для стирки, не сушите в сушилке и желательно в тени.
                        </div>
                    </div>
                </li>
                <li class="Faq__accordion">
                    <div class="Faq__accordion--label">
                        <button class="Faq__accordion--btn js-toggleSlide" data-block="faq">
                            Опт / франчайзинг
                            <span>
                                <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 0)"></path><path d="M5.49.32C5.49.14,5.71,0,6,0H6c.28,0,.5.14.5.31l0,11.38c0,.17-.22.31-.5.31s-.5-.14-.5-.32h0Z" transform="translate(0 0)"></path></svg>
                                <svg class="icon-minus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 1.02"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 -5.49)"></path></svg>
                            </span>
                        </button>
                    </div>
                    <div class="Faq__accordion--content js-footerAccordion">
                        <div class="Faq__accordion--text">
                            К сожалению, в настоящее время мы не предлагаем оптовые продажи или франчайзинг.
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <h2 style="font-weight: 200;">Доставка</h2>
        <div>
            <ul class="Faq__accordion-list">
                <li class="Faq__accordion">
                    <div class="Faq__accordion--label">
                        <button class="Faq__accordion--btn js-toggleSlide" data-block="faq">
                            Мой онлайн-заказ упакован конфедициально?
                            <span>
                                <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 0)"></path><path d="M5.49.32C5.49.14,5.71,0,6,0H6c.28,0,.5.14.5.31l0,11.38c0,.17-.22.31-.5.31s-.5-.14-.5-.32h0Z" transform="translate(0 0)"></path></svg>
                                <svg class="icon-minus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 1.02"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 -5.49)"></path></svg>
                            </span>
                        </button>
                    </div>
                    <div class="Faq__accordion--content js-footerAccordion">
                        <div class="Faq__accordion--text">
                            &nbsp;Все онлайн-заказы  Vanity Fair упакованы и помещены в роскошный черный атласный  мешочек для белья. Затем ваш заказ помещается в транспортную сумку, на которой нет логотипа или фирменного наименования для конфиденциальной и частной доставки.
                        </div>
                    </div>
                </li>
                <li class="Faq__accordion">
                    <div class="Faq__accordion--label">
                        <button class="Faq__accordion--btn js-toggleSlide" data-block="faq">
                            Доставка по России
                            <span>
                                <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 0)"></path><path d="M5.49.32C5.49.14,5.71,0,6,0H6c.28,0,.5.14.5.31l0,11.38c0,.17-.22.31-.5.31s-.5-.14-.5-.32h0Z" transform="translate(0 0)"></path></svg>
                                <svg class="icon-minus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 1.02"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 -5.49)"></path></svg>
                            </span>
                        </button>
                    </div>
                    <div class="Faq__accordion--content js-footerAccordion">
                        <div class="Faq__accordion--text">
                            &nbsp;Доставка по России ->
                            <br><br>
                            Мы предлагаем несколько вариантов доставки:
                            <ol>
                                <li>До пункта выдачи</li>
                                <li>Курьером на дом</li>
                            </ol>
                            <br>
                            <p>Время доставки определяется автоматически и выводится на экран после оформления заказа.</p>
                        </div>
                    </div>
                </li>
                <li class="Faq__accordion">
                    <div class="Faq__accordion--label">
                        <button class="Faq__accordion--btn js-toggleSlide" data-block="faq">
                            Приватная упаковка
                            <span>
                                <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 0)"></path><path d="M5.49.32C5.49.14,5.71,0,6,0H6c.28,0,.5.14.5.31l0,11.38c0,.17-.22.31-.5.31s-.5-.14-.5-.32h0Z" transform="translate(0 0)"></path></svg>
                                <svg class="icon-minus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 1.02"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 -5.49)"></path></svg>
                            </span>
                        </button>
                    </div>
                    <div class="Faq__accordion--content js-footerAccordion">
                        <div class="Faq__accordion--text">
                            &nbsp;VANITY FAIR - это конфиденциальность и приватность, поэтому все товары распространяются в простой и привлекательной упаковке без дополнительных затрат.
                        </div>
                    </div>
                </li>
                <li class="Faq__accordion">
                    <div class="Faq__accordion--label">
                        <button class="Faq__accordion--btn js-toggleSlide" data-block="faq">
                            Задержка заказа
                            <span>
                                <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 0)"></path><path d="M5.49.32C5.49.14,5.71,0,6,0H6c.28,0,.5.14.5.31l0,11.38c0,.17-.22.31-.5.31s-.5-.14-.5-.32h0Z" transform="translate(0 0)"></path></svg>
                                <svg class="icon-minus" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 1.02"><path d="M.31,6.51C.14,6.51,0,6.29,0,6s.14-.49.31-.49l11.37,0c.18,0,.32.23.32.5s-.14.5-.32.5h0Z" transform="translate(0 -5.49)"></path></svg>
                            </span>
                        </button>
                    </div>
                    <div class="Faq__accordion--content js-footerAccordion">
                        <div class="Faq__accordion--text">
                            &nbsp;Пожалуйста, убедитесь, что детали доставки точны, чтобы обеспечить быструю доставку. Однако если вы допустили ошибку в заказе, пожалуйста, отправьте электронное письмо по адресу ХХХХХ, и мы исправим это, как только сможем.
                            <br><br>
                            &nbsp;Если вы не получили свой заказ в течение дней, указанных на момент покупки, пожалуйста, свяжитесь с нами по электронной почте ХХХХХ.
                            Если ваш заказ по какой-либо причине задерживается, мы свяжемся с вами как можно скорее, чтобы сообщить о задержке.
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <h2 style="font-weight: 200;font-size: large;text-transform: none;line-height: 1.5;">Не нашли ответ на свой вопрос? Или хотите оставить отзыв? Напишите нам, и мы вам ответим в течении дня.</h2>
        <div>
            <form action="" id="faqQuery" class="Faq__form">
                <div class="Order-step__sections--half">
                    <input placeholder="Email" autocapitalize="off" spellcheck="false" aria-required="true" class="Order-input" size="30" type="email" name="faqEmail" id="faq_email">
                </div>
                <div class="Order-step__sections--half">
                    <input placeholder="Ваше имя" autocapitalize="off" spellcheck="false" aria-required="true" class="Order-input" size="30" type="text" name="faqName" id="faq_name">
                </div>
                <div class="Order-step__sections">
                    <textarea id="faq_text" name="faqText" class="Faq__form--textarea" aria-required="true" spellcheck="true" rows="10" cols="50" tabindex="0" placeholder="Какой у вас вопрос?"></textarea>
                </div>
                <div class="Order-step__sections--half">
                    <span>&nbsp;</span>
                </div>
                <div class="Order-step__sections--half">
                    <button class="Button__card--primary Button--block Button__card--next-step js-faqQuery" type="submit">
                        <div class="Order-main__loade-wrap js-preloaderFaq">
                            <div class="loader"></div>
                        </div>
                        <span>Отправить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>