<div class="Container--center Container__top">
    <h1 class="h2" style="text-transform: none;font-weight: 400;"><%- h1 %></h1>
  </div>
  <div class="Container">
      <div class="Order-main__wrapper">
          <div class="Container__col-1of2 Container__col-lg Container__offset-left">
              <img src="//cdn.shopify.com/s/files/1/0585/9581/files/VEGAS_SET.progressive.jpg?v=1564590917" alt="" id="" srcset="//cdn.shopify.com/s/files/1/0585/9581/files/VEGAS_SET_480x.progressive.jpg?v=1564590917 480w,
                     //cdn.shopify.com/s/files/1/0585/9581/files/VEGAS_SET_768x.progressive.jpg?v=1564590917 768w,
                     //cdn.shopify.com/s/files/1/0585/9581/files/VEGAS_SET_990x.progressive.jpg?v=1564590917 990w,
                     //cdn.shopify.com/s/files/1/0585/9581/files/VEGAS_SET_1400x.progressive.jpg?v=1564590917 1400w,
                     //cdn.shopify.com/s/files/1/0585/9581/files/VEGAS_SET_2100x.progressive.jpg?v=1564590917 1540w">
          </div>
          <div class="Container__col-1of2">
              <div class="Product__info-wrapper">
  
                  <form action="" class="Product__template-login" id="formForgot">
                      <div class="Product__template-login--form Order-step__sections">
                          <input placeholder="Ваш email" autocapitalize="off" spellcheck="false" class="Order-input" size="30" type="text" name="email" id="email">
                      </div>
                      <div class="Order-step__sections">
                          <button class="Button__card--primary Button--block Button__card--next-step js-forgot" type="submit">
                              <span>Восстановить</span>
                          </button>
                      </div>
                      <div class="Order-step__sections">
                          <button class="Button__transparent-btn Button--block Button__card--next-step" type="button" onclick="window.location.href='/account/login';">
                              <span>Войти</span>
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>