<div class="Container--center Container__top">
  <h1 class="h2" style="text-transform: none;font-weight: 400;"><%- h1 %></h1>
</div>
<div class="Main">
  <button class="Button Button__absolute Button__absolute--right js-logout">Выйти</button>
    <% if(admin) { %>
    <a href="/power/admin/" style="color: #fff;text-decoration: underline;">Админка</a>
    <% } %>
    <br><br><br>
    <p>Кабинет пользователя на стадии разработки</p>
</div>