<a href="/collection/Lingerie" class="book-link">
<div class="Container">
    <!-- <section class="Container__big-logo">
        <p>
            <span class="big-font">
                <span style="color: rgb(244, 155, 193);">V</span>
                <span style="color: rgb(245, 153, 157);">a</span>
                <span style="color: rgb(239, 110, 168);">n</span>
                <span style="color: rgb(241, 109, 126);">i</span>
                <span style="color: rgb(158, 0, 92);">t</span>
                <span style="color: rgb(238, 16, 90);">y</span>
                <span style="color: rgb(241, 109, 126);">F</span>
                <span style="color: rgb(239, 110, 168);">a</span>
                <span style="color: rgb(245, 153, 157);">i</span>
                <span style="color: rgb(244, 155, 193);">r</span>
            </span>
        </p>
    </section> -->

    <section class="Container__collection">
        <div class="Container__galary-1">

        </div>
        <div class="Container__galary-1 Container__galary-center Vertical-center">
            <div class="Container__new-collection--custom Vertical-center">
                <p class="inner">
                    <span>
                        <span style="color: rgb(244, 155, 193);">V</span>
                        <span style="color: rgb(245, 153, 157);">a</span>
                        <span style="color: rgb(239, 110, 168);">n</span>
                        <span style="color: rgb(241, 109, 126);">i</span>
                        <span style="color: rgb(158, 0, 92);">t</span>
                        <span style="color: rgb(238, 16, 90);">y</span>
                        <span style="color: rgb(241, 109, 126);">F</span>
                        <span style="color: rgb(239, 110, 168);">a</span>
                        <span style="color: rgb(245, 153, 157);">i</span>
                        <span style="color: rgb(244, 155, 193);">r</span>
                    </span>
            </p>
            <h1 class="h1"><%= h1 %></h1>
                <p class="White-discr">Индивидуальный пошив белья - это новый подход к современной моде. Неординарный дизайн, проведённая до мелочей работа конструктора, избирательный подход при выборе кружева, кропотливый труд швей и любовь в каждом изделии — это все про Vanity Fair.</p>
            </div>
        </div>
        <div class="Container__galary-1">

        </div>
    </section>
</div>

</a>