<div class="Container--center Container__top">
  <h1 class="h2" style="text-transform: none;font-weight: 400;"><%- h1 %></h1>
</div>
<div class="Container">
    <p class="text-info">&nbsp;К сожалению в настоящее время мы не предлагаем оптовые продажи или франчайзинг.</p>
</div>